@model UserPasswordChangeDTO
@{
	<form asp-controller="Profile" asp-action="ChangePasswordPost" method="post">
		<input type="hidden" asp-for="Id" value="@ViewBag.Id"/>
		<input type="password" asp-for="Password"/>
		<input type="password" asp-for="ConfirmPassword"/>
		<button type="submit">change</button>
		<span asp-validation-for="ConfirmPassword"></span>
	</form>
}
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
